// Variables and mixins
@import "variables";
@import "mixins";

// Reset and dependencies
@import "normalize";
@import "base";

// Elements
@import "typography";
//@import "asian";
//@import "tables";
@import "buttons";
//@import "forms";
@import "labels";
//@import "codes";
//@import "media";

// Layout
@import "layout";
//@import "hero";
@import "navbar";

pre {
    padding: 0.5rem 0.5rem;
    border-radius: .3rem;
    overflow-y: auto;
}


.post {
    header {
      //background: darken($primary-color, 35%);
      border-radius: .3rem;
      padding: 0.5rem;
      margin-bottom: 0.5rem;
      h1 {
          margin-bottom: 0;
      }
    }
    section {
      padding: 0.5rem;
      background-color: darken($dark-color, 3%);
      border-radius: .3rem;
    }
    img {
        width: 100%;
    }
    .utterances {
        max-width: none !important;
    }
}

.card {
    margin-bottom: 0.5rem;
}

.main-header {
    margin-bottom: 0.5rem;
    background-color: darken($dark-color, 4%);
    box-shadow: 0 20rem 20rem 20rem rgba($primary-color, 0.2);
}


// Components
//@import "accordions";
//@import "avatars";
//@import "badges";
//@import "breadcrumbs";
//@import "bars";
@import "cards";
//@import "chips";
//@import "dropdowns";
//@import "empty";
//@import "menus";
//@import "modals";
//@import "navs";
//@import "pagination";
//@import "panels";
//@import "popovers";
//@import "steps";
//@import "tabs";
//@import "tiles";
//@import "toasts";
//@import "tooltips";

// Utility classes
//@import "animations";
//@import "utilities";
