{% extends "base.html" %}

{% block content %}

{% for page in paginator.pages %}

<article id="{{page.title}}" class="card">
  <div class="card-header">
     <div class="card-title h3">{{page.title}}</div>
     <em>{{page.description}}</em>
     <br />
     {% if page.taxonomies %}
     <div class="card-subtitle">
     {% for tag in page.taxonomies.tags %}<small class="label label-primary">{{tag}}</small> {% endfor %}<small class="label">{{ page.date | date(format="%Y-%m-%d") }}</small>
     </div>
     {% endif %}
  </div>
  <div class="card-body">
      {{ page.content | safe | striptags | truncate }}
  </div>
  <div class="card-footer">
      <a href="{{page.permalink}}">Continue Reading</a>
  </div>
</article>
{% endfor %}


{% if paginator.previous %}
<a href="{{paginator.previous}}">Previous</a>
{% endif %}
Page {{paginator.current_index}} of {{paginator.number_pagers}}
{% if paginator.next %}
<a href="{{paginator.next}}">Next</a>
{% endif %}


{% endblock content %}