{% extends "base.html" %}

{% block content %}

{% for page in paginator.pages %}

<article id="{{page.title}}" class="card">
  <div class="card-header">
     <div class="card-title h3"><a href="{{page.permalink}}"  id="article_link" >{{page.title}}</a></div>
     {% if page.taxonomies %}
     <div class="card-subtitle">
     {% for tag in page.taxonomies.tags %}<small class="label label-primary">{{tag}}</small> {% endfor %}<small class="label">{{ page.date | date(format="%Y-%m-%d") }}</small>
     </div>
     {% endif %}
  </div>
  <div class="card-body">
      {{ page.content | safe | striptags | truncate }}
  </div>
  <div class="card-footer">
      <a class="btn btn-primary" href="{{page.permalink}}">Continue Reading</a>
  </div>
</article>
{% endfor %}

{% endblock content %}